.gallery {
  padding: 0 48px;
  margin-bottom: 40px;
}

.gallery h3,
.gallery :global(.HwCmd) {
  margin: 0.5em 0;
  font-size: 1.375em;
  line-height: 1.1em;
  font-weight: normal;
  color: #212121;
}

.list {
  margin: 0;
  padding: 0;
}

.list li {
  display: inline-block;
  margin-right: 4px;
}

.thumbnail {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  width: 84px;
  height: 56px;
  border: 1px solid #abb2c1;
  cursor: pointer;
}

.thumbnail:focus,
.thumbnail:hover {
  border: 1px solid #99caeb;
  outline: 2px solid #000;
}

.videoThumbnailOverlay {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}

.activeThumbnail {
  border: 1px solid #017acd;
}

.thumbnail img {
  width: 84px;
  height: 56px;
}

.gallery :global(.HwInfo),
.gallery :global(.HwVideo) {
  padding: 8px;
  border: 1px solid #abb2c1;
  line-height: 0;
}

.gallery :global(.HwInfo) {
  text-align: center;
}

.gallery :global(.HwInfo) p,
.gallery :global(.HwVideo) p {
  padding: 0 8px;
  line-height: 1.3em;
  text-align: left;
}

.gallery :global(.HwImageWrapper) {
  display: inline-block;
  width: 50%;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
}

.gallery :global(.HwImageWrapper:only-of-type) {
  float: none;
  width: 100%;
}

.gallery :global(.HwImageWrapper) img {
  max-width: 100%;
}

.gallery :global(.HwInfo .HwSection) {
  clear: both;
}

@media screen and (max-width: 750px) {
  .gallery {
    padding: 0;
  }

  .gallery :global(.HwImageWrapper) {
    float: none;
    width: 100%;
  }

  .gallery :global(.HwMedicalImage) {
    width: 100%;
  }
}

