.title {
  margin: 0;
  padding: 0;
  color: var(--color-text-primary);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

.title.children {
  padding-bottom: var(--spacing-l);
}

.content > *:first-child {
  margin-top: 0;
}

.content > *:last-child {
  margin-bottom: 0;
}

.actions {
  padding-top: var(--spacing-l);
}
