.button {
  padding: 0.75rem 1rem;
  border: 1px solid var(--color-primary);
  display: inline-flex;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
  font-size: 1em;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
}

.button:focus {
  outline: var(--focus-indicator);
  outline-offset: var(--focus-indicator-offset);
}

.button svg {
  width: 1em;
  height: 1em;
  fill: var(--color-text-on-primary);
}

.child:not(:last-child) {
  margin-right: 0.5rem;
}

.primary-light {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
  color: var(--color-text-on-primary-light);
}

.primary-light svg {
  fill: var(--color-text-on-primary-light);
}

.primary-dark {
  border-color: var(--color-primary-dark);
  background-color: var(--color-primary-dark);
  color: var(--color-text-on-primary-dark);
}

.primary-dark svg {
  fill: var(--color-text-on-primary-dark);
}

.primary-darker {
  border-color: var(--color-primary-darker);
  background-color: var(--color-primary-darker);
  color: var(--color-text-on-primary-darker);
}

.primary-darker svg {
  fill: var(--color-text-on-primary-darker);
}

.accent {
  border-color: var(--color-accent);
  background-color: var(--color-accent);
  color: var(--color-text-on-accent);
}

.accent svg {
  fill: var(--color-text-on-accent);
}

.accent-dark {
  border-color: var(--color-accent-dark);
  background-color: var(--color-accent-dark);
  color: var(--color-text-on-accent-dark);
}

.accent-dark svg {
  fill: var(--color-text-on-accent-dark);
}

.neutral {
  border-color: var(--color-neutral);
  background-color: var(--color-neutral);
  color: var(--color-text-on-neutral);
}

.neutral svg {
  fill: var(--color-text-on-neutral);
}

.neutral-light {
  border-color: var(--color-neutral-light);
  background-color: var(--color-neutral-light);
  color: var(--color-text-on-neutral-light);
}

.neutral-light svg {
  fill: var(--color-text-on-neutral-light);
}

.neutral-dark {
  border-color: var(--color-neutral-dark);
  background-color: var(--color-neutral-dark);
  color: var(--color-text-on-neutral-dark);
}

.neutral-dark svg {
  fill: var(--color-text-on-neutral-dark);
}

.rounded {
  border-radius: 4px;
}

.flat {
  border: none;
  padding: 0.75rem;
  background-color: transparent;
  color: var(--color-primary);
}

.flat svg {
  fill: var(--color-primary);
}

.raised {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.raised:not(.disabled):hover,
.raised:not(.disabled):active {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
}

.outlined {
  background-color: transparent;
  color: var(--color-primary);
}

.outlined svg {
  fill: var(--color-primary);
}

.primary-light.outlined,
.primary-light.flat {
  color: var(--color-primary-light);
}

.primary-light.outlined svg,
.primary-light.flat svg {
  fill: var(--color-primary-light);
}

.primary-dark.outlined,
.primary-dark.flat {
  color: var(--color-primary-dark);
}

.primary-dark.outlined svg,
.primary-dark.flat svg {
  fill: var(--color-primary-dark);
}

.primary-darker.outlined,
.primary-darker.flat {
  color: var(--color-primary-darker);
}

.primary-darker.outlined svg,
.primary-darker.flat svg {
  fill: var(--color-primary-darker);
}

.accent.outlined,
.accent.flat {
  color: var(--color-accent);
}

.accent.outlined svg,
.accent.flat svg {
  fill: var(--color-accent);
}

.accent-dark.outlined,
.accent-dark.flat {
  color: var(--color-accent-dark);
}

.accent-dark.outlined svg,
.accent-dark.flat svg {
  fill: var(--color-accent-dark);
}

.neutral.outlined,
.neutral.flat {
  color: var(--color-neutral);
}

.neutral.outlined svg,
.neutral.flat svg {
  fill: var(--color-neutral);
}

.neutral-light.outlined,
.neutral-light.flat {
  color: var(--color-neutral-light);
}

.neutral-light.outlined svg,
.neutral-light.flat svg {
  fill: var(--color-neutral-light);
}

.neutral-dark.outlined,
.neutral-dark.flat {
  color: var(--color-neutral-dark);
}

.neutral-dark.outlined svg,
.neutral-dark.flat svg {
  fill: var(--color-neutral-dark);
}

.primary-light.outlined:focus,
.primary-light.flat:focus,
.neutral-light.outlined:focus,
.neutral-light.flat:focus {
  outline: var(--focus-indicator-contrast);
}

.disabled,
.disabled:hover,
.disabled:active {
  opacity: 0.35;
  pointer-events: none;
}
