.icon_array {
  box-sizing: border-box;
  padding: 15px 0;
  max-width: 100%;
}

.icon_row {
  box-sizing: border-box;
  width: 95%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.icon {
  box-sizing: border-box;
  display: inline-block;
  width: 10%;
}

.icon svg {
  width: 100%;
  stroke: var(--color-neutral-light);
  fill: var(--color-neutral-light);
}

/* Thank you, IE, and the horse you rode in on */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .icon svg {
    padding-bottom: 160%;
    height: 1px;
    overflow: visible;
    display: block;
  }
}

.icon_off svg {
  stroke: var(--color-neutral-light);
  fill: var(--color-neutral-light);
}

.icon_on svg {
  stroke: var(--color-primary-dark);
  fill: var(--color-primary-dark);
}

.icon_range svg {
  stroke: var(--color-primary);
  fill: var(--color-primary);
}

.icon_row_break {
  box-sizing: border-box;
  width: 95%;
  border-top: solid 1px var(--color-border);
  position: relative;
}

.icon_row_break_count {
  box-sizing: border-box;
  position: absolute;
  display: block;
  right: 0;
  transform: translate(90%, -50%);
}

.icon_row_break_count svg {
  max-height: 16px;
  max-width: 100%;
}
