.story :global(.HwImageWrapper) {
  float: right;
  margin: 0 0 0 20px;
  background: var(--color-background-contrast-light);
  padding: 10px 10px 30px;
  line-height: 1;
}
.story :global(.HwImageWrapper) img {
  border: 3px solid var(--color-border);
}

.story :global(.HwNote) {
  float: right;
  clear: both;
  margin-bottom: 20px;
  font-style: italic;
  padding-right: 10px;
  margin-top: -30px;
  color: var(--color-text-primary);
}

.story :global(.HwNote) ~ :global(.HwNote) {
  display: none;
}
