
.wrapper {
  margin: 19px 0 0;
}

.wrapper p {
  font-size: 0.8em;
}

.button {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background: transparent;
  border: none;
  color: #017acd;
  cursor: pointer;
}

.button:hover,
.button:focus {
  outline: 2px #017acd solid;
}

.icon {
  box-sizing: border-box;
  width: 16px;
  padding: 0 4px 4px 0;
}

.icon svg {
  width: 100%;
}

.icon svg path {
  fill: #017acd;
}
