.wrapper {
  margin-bottom: 24px;
  box-sizing: border-box;
  width: 100%;
}

.wrapper p {
  font-size: 0.8em;
}

.nav_wrapper {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.nav {
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
}

.nav_item {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  margin: 5px 2px 0;
  padding: 10px 15px;
  color: #017acd;
  border: none;
  background: transparent;
}

.nav_item:focus,
.nav_item:hover {
  color: #015c9a;
  cursor: pointer;
  outline: 2px solid #000;
}

.nav_item_active {
  background: #f0f1f4;
  border-radius: 1px;
}

.nav_transcript_item {
  padding: 5px 15px;
}

.nav_transcript_item:disabled {
  padding: 0;
}

.nav_transcript_item:disabled:focus,
.nav_transcript_item:disabled:hover {
  outline: none;
  cursor: default;
}

.icon {
  box-sizing: border-box;
  width: 18px;
  margin-right: 4px;
}

.icon svg {
  width: 100%;
}

/* Targets displays using Windows’ High Contrast Mode themes: */

@media screen and (-ms-high-contrast: active) {
  .nav_item:focus,
  .nav_item:hover {
    outline: 2px solid #fff;
  }

  .nav .nav_item_active {
    background: #fff;
    color: #000;
  }
}

@media screen and (-ms-high-contrast: black-on-white) {
  .nav_item:focus,
  .nav_item:hover {
    outline: 2px solid #000;
  }

  .nav .nav_item_active {
    background: #000;
    color: #fff;
  }
}
