.button_group {
  display: flex;
  align-content: center;
}

.button_group > *:not(:last-child) {
  margin-right: var(--spacing-s);
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}
