.nav {
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  margin-right: 4px;
}

.nav_item {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 32px;
  font-size: 1em;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  background: #fff;
  border: 1px solid #abb2c1;
  border-radius: 1px;
}

.nav_item:focus,
.nav_item:hover {
  background: #99caeb;
  outline: solid 1px #000;
  outline-offset: 1px;
  cursor: pointer;
}

.nav .activeNav {
  background: #017acd;
  border: 1px solid #abb2c1;
  color: #fff;
}

/* ensures that larger images don't exceed the slideshow wrapper */
.slideshow img {
  max-width: 100%;
}

/* Targets displays using Windows’ High Contrast Mode themes: */

@media screen and (-ms-high-contrast: active) {
  .nav_item {
    background: #000;
    border: 1px solid #fff;
  }

  .nav_item:focus,
  .nav_item:hover {
    background: #fff;
    color: #000;
  }

  .nav .activeNav {
    background: #fff;
    border: 1px solid #000;
    color: #000;
  }
}

@media screen and (-ms-high-contrast: black-on-white) {
  .nav_item {
    background: #fff;
    border: 1px solid #000;
  }

  .nav_item:focus,
  .nav_item:hover {
    background: #000;
    color: #fff;
  }

  .nav .activeNav {
    background: #000;
    border: 1px solid #fff;
    color: #fff;
  }
}
