.card {
  background: var(--color-background-light);
}

.title_container {
  padding: var(--spacing-l);
}

.title_container.children {
  padding-bottom: 0;
}

.title {
  margin: 0;
  color: var(--color-text-primary);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.333;
}

.subtitle {
  margin: 0;
  color: var(--color-text-secondary);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
}

.content > *:first-child {
  margin-top: 0;
}

.content > *:last-child {
  margin-bottom: 0;
}

.media {
  height: 0;
  padding-top: 56.25%; /* 16:9 */
}

.actions {
  padding: 0 var(--spacing-l) var(--spacing-l);
}
