.container {
  width: 100%;
  position: relative;
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.label {
  margin-bottom: 0.25em;
  flex: 1 0 auto;
  font-size: 0.75em;
  letter-spacing: 0.5px;
}

.input_text {
  display: table-cell;
  width: 100%;
  height: 40px;
  padding: 0 8px;
  color: var(--color-text-primary);
  line-height: 30px;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 1em;
  border: 1px solid var(--color-text-primary);
  transition: border ease 0.2s;
}

.underlined .input_text {
  padding: 0;
  border: none;
  background: none;
}

.underlined::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.125em;
  height: 1px;
  background: var(--color-text-primary);
}

.underlined.focused::after {
  height: 2px;
  background: transparent;
  background-image:
    repeating-linear-gradient(
      to right,
      var(--color-text-primary),
      var(--color-text-primary) 2px,
      transparent 0,
      transparent 4px
    );
}

.input_text::placeholder {
  color: var(--color-text-secondary);
  opacity: 1;
}

.input_text:focus {
  outline: var(--focus-indicator);
  outline-offset: var(--focus-indicator-offset);
}

.underlined .input_text:focus {
  outline: none;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.35;
}

.input_text[disabled] {
  cursor: not-allowed;
}

.error.dirty:not(.focused) .input_text,
.error.dirty .input_text:invalid:not(:focus) {
  border-color: var(--color-error);
  box-shadow: none; /* get rid of Firefox's default */
}

.underlined.error.dirty:not(.focused)::after {
  height: 2px;
  background: var(--color-error);
  box-shadow: none; /* get rid of Firefox's default */
}

.error_container {
  margin-top: 0.25em;
  font-size: 0.75em;
  line-height: 1;
  height: 1em;
}
