.article :global(.HwImageWrapper) {
  display: inline;
  float: right;
  padding: 0 0 1em 1em;
}

.article li :global(.HwCmd) {
  display: inline;
  font-weight: bold;
}

.article li :global(.HwInfo) {
  padding-left: 30px;
}
