.Table {
  width: 100%;
  font-size: 1em;
  line-height: 1em;
  padding: 0.5em 0.25em;
  border-collapse: collapse;
}

.list {
  border-collapse: separate;
  border-spacing: 0 4px;
}

.Table th,
.Table td {
  padding: 0.5em 0.25em;
  vertical-align: top;
  text-align: left;
}

.list th,
.list td {
  padding: 0.5em;
  vertical-align: middle;
}

.Table thead {
  background-color: var(--color-background);
}

.Table thead tr:not(:only-child) {
  border-bottom: 4px solid var(--color-background-light);
}

.Table thead tr:first-child:not(:only-child) th {
  padding: 0.75em;
  font-size: 1.25em;
  text-align: center;
  font-weight: normal;
  border-right: 4px solid var(--color-background-light);
}

.Table thead tr:first-child:not(:only-child) th:last-child {
  border-right: none;
}

.Table thead th {
  font-weight: bold;
}

.list thead,
.list thead tr {
  background-color: transparent;
}

.list thead tr:first-child:not(:only-child) {
  background-color: color(var(--color-background-contrast-dark) alpha(20%));
}

.Table tbody th,
.Table tfoot th {
  font-weight: normal;
}

.Table tbody tr {
  border-bottom: 1px solid var(--color-border);
}

.list tbody tr {
  background-color: var(--color-background-light);
}

.list tbody th:first-child,
.list tbody td:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.list tbody td:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.Table tbody tr:last-child {
  border-bottom: none;
}

.Table tfoot tr {
  border-top: 2px solid var(--color-border);
  border-bottom: none;
}

th.int,
td.int,
th.centered,
td.centered {
  text-align: center;
}

th.date,
td.date {
  text-align: left;
}

th.id,
td.id {
  word-break: break-all;
}
