.accordion.accordion {
  border-radius: 0;
  border: 1px solid var(--color-border);
  margin: 0;
  box-shadow: none;
  background: var(--color-background-light);
}

.header.header {
  padding: var(--spacing-m) var(--spacing-l);
  min-height: 0 !important;
}

.header.header:focus {
  background-color: var(--color-background-light);
  outline: var(--focus-indicator);
  outline-offset: var(--focus-indicator-offset);
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  margin-right: var(--spacing-xxl);
  color: var(--color-text-primary);
}

.content.content {
  padding: var(--spacing-m) var(--spacing-l) var(--spacing-l);
}

.content > *:first-child {
  margin-top: 0;
}

.content > *:last-child {
  margin-bottom: 0;
}

.icon.icon {
  fill: var(--color-text-secondary);
}
