.container {
  display: flex;
  align-items: center;
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.message {
  font-size: 1em;
}

.icon {
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
  flex: 0 0 auto;
}

.info {
  color: var(--color-info);
}

.info svg {
  fill: var(--color-info);
}

.warning {
  color: var(--color-warning);
}

.warning svg {
  fill: var(--color-warning);
}

.error {
  color: var(--color-error);
}

.error svg {
  fill: var(--color-error);
}
