.refs_wrapper {
  border: none;
  margin: 2em 0;
  padding: 0;
  font-size: 0.8em;
}

.refs_wrapper legend {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: normal;
}

.refs_wrapper ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.refs_wrapper ol li {
  margin: 1em 0;
}

.refs_label {
  font-weight: 600;
}
